@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
img{
    width: 30%;
    height: 90px;
    padding-left: 110px;
    margin-top: 10px;
}
.box{
    background: linear-gradient(90deg,rgb(5, 90, 124),darkblue,rgb(5, 90, 124));
    height: 40px;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
}
h3{
   margin-top: 5px;
   padding-left: 58px;
   color: white;
   letter-spacing: 2px;
}
#reg{
    margin-top: 50px;
    margin-left: 500px;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 500px;
    border: 1px solid white;
    gap: 20px;
    border-radius: 25px;
     box-shadow: 
    10px 10px 10px grey,
    -10px 10px 10px grey;
}
input[type=text],
input[type=password],
input[type=email]{
    padding-left: 10px;
    height: 30px;
    width: 80%;
    margin-left: 20px;
    border-radius: 15px;
    outline: none;
    border: none;
    box-shadow: 2px 2px 5px grey;
}
input{
    font-weight: bold;
}
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=email]::placeholder{
    font-weight: normal;
}
input[type=text]:focus,
input[type=password]:focus{
    outline: none;
}
input[type=submit]{
     width: 90%;
    height: 40px;
    padding: 5px;
    font-weight: bold;
    margin-left: 14px;
    margin-top: 5px;
    background:blue;
    border: inherit;
    color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
}
input[type=submit]:hover{
    transform: scale(0.9);
}
.msg{
    color: green;
    font-size: 15px;
    margin-left: 80px;
}
.failure{
    color: red;
    font-size: 15px;
    margin-left: 75px;
}
a{
    color: blue;
    margin-left: 5px;
}
a:hover{
    color: rgb(7, 146, 201);
}
.bottom{
    margin-left: 70px;
    margin-top: 0px;
}