<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 viewport-fit=cover">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <title>Diary</title>
</head>
<body>
    <header>
        <div class="circle">
            <div class="img">
                <img src="/static/ddlogo.png">
                 <h3> <span>D</span>igi<span>D</span>iary </h3>
            </div>
        </div>
        <div class="user-logo" onclick="openinfo()">
            <p>{{username[0].upper()}}</p>
        </div> </header>
        <div id="add">
        <button onclick="plus()"> + </button>
        </div>
        <div id="user-info">
            <button id="infoclose" onclick="infoclose()">&times</button>
            <h4>{{username}}</h4>
            <p>{{email}}</p>
            <a class="btn" href="{{ url_for('logout') }}">
                <input id ="logout" type="submit" value="Log Out">
            </a>
        </div>
    <div class="entries">
        {% for e in entries %}
        <div class="diary-box">
        <h3> {{e.date_entry}} </h3>
        <p>{{e.text_area}} </p>
        <p><strong>Mood: {{e.mood}}</strong></p>
        <div class="buttons">
           <button id="edit-btn"  onclick="editEntry('{{ e.id }}', '{{ e.date_entry }}', `{{ e.text_area }}`)"><i class="fa-solid fa-edit"></i></button>
           <a href="{{url_for('delete',id=e.id)}}">
        <button id="dlt"><i class="fa-solid fa-trash"></i></button></a></div></div>
        {% endfor %}</div>
        <div id="box">
            <button id="close" onclick="closing()"> &times </button>
    <form id="form" method="POST" action="/add">
        <label for="date"> Date:</label>
        <input type="text" name="date" placeholder="eg:- 1 jan,2026" id="date">
        <div class="textarea">
        <textarea cols="50" rows="10" id="textarea" placeholder="write how do you feel today!" name="textarea"></textarea></div>
        <button type="submit"  id="new"> Add </button>
    </form>
    </div>

    <script>
    var box = document.getElementById("box");
    var form = document.getElementById("form");
    var dateInput = document.getElementById("date");
    var textArea = document.getElementById("textarea");
    var submitBtn = document.getElementById("new");
    function plus() {
        form.action = "/add";
        submitBtn.innerText = "Add";
        dateInput.value = "";
        textArea.value = "";
        box.style.display = "block";
        form.style.display="block";
    }
    function closing() {
        box.style.display = "none";
        form.style.display="none";
    }
    function editEntry(id, date, text) {
        form.style.display="block";
        box.style.display = "block";
        form.action = "/edit/" + id;
        submitBtn.innerText = "Update";
        dateInput.value = date;
        textArea.value = text;
        submitBtn.style.borderRadius="25px";
    }
    var userinfo=document.getElementById("user-info")
    function openinfo(){
        userinfo.style.display="block";
    }
    function infoclose(){
        userinfo.style.display="none";
    }
</script>

</body>
</html>