<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 viewport-fit=cover">
    <link rel="stylesheet" href="/static/loginstyle.css">
    <title>Document</title>
</head>
<body>
    <form id="login-form" action="{{ url_for('login') }}" method="post">
        <img src="/static/ddlogo.png">
         <div class="msg">{{msg}}</div>
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="Login"> 
    <p class="bottom">Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
    </form>

</body>
</html>