@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
   background: linear-gradient(90deg,rgb(5, 5, 90),rgb(1, 1, 48));
   color: white;
}
.header{
    margin-left: 20px;
    margin-top: 30px;
    display: flex;
    gap: 10px;
    font-family: Montserrat ;
    animation: anime 2s ease forwards;
}
h3{
    margin-top: 13px;
}
h3 span{
    font-family: cursive;
}
.header img{
    width: 5%;
    height: 50px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 15px;
}
.content{
    margin-left: 400px;
    margin-top: 10px;
    animation: content 1s ease forwards;
}
.heading{
    font-size: 35px;
    font-family: poppins;
    font-weight: 500;
}
.para{
    margin-top: 0px;
    font-family: raleway;
   font-size: 20px;
   font-weight: 700;
   margin-left: 110px;
   letter-spacing: 1px;
}
.tags{
    font-family: raleway;
    margin-left: 150px;
    font-weight: 600;
    color: aqua;
}
.next{
   margin-left: 120px;
   font-family:quicksand;
   font-weight: 700;
   color: aqua;
}
h6{
    margin-left: 120px;
    font-size: 20px;
    font-family: raleway;
}
h6 span{
    font-size: 30px;
    margin-left: 10px;
    font-family: montserrat;
    text-shadow: 1px 1px 3px rgb(160, 149, 149);
}
.login{
    width: 20%;
    height: 40px;
    border-radius: 25px;
    outline: 1px solid black;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-size: 19px;
    margin-left: 50px;
    transition: all 0.3s ease;
}
.create{
    width: 20%;
    height: 40px;
    border-radius: 25px;
    outline: 1px solid black;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-size: 17px;
    margin-left: 20px;
}
a{
    color: white;
    text-decoration: none;
}
@keyframes anime {
    from{
        opacity: 0;
        transform: translateX(0px);
    }
    to{
        opacity: 1;
        transform: translateX(8px);
    }
}
@keyframes content{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(-20px);
    }
}