<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 viewport-fit=cover">
      <link rel="stylesheet" href="/static/registerstyle.css">
    <title>Document</title>
</head>
<body>
    <form id="reg" action="{{ url_for('register') }}" method="post">
        <img src="/static/ddlogo.png">
        <div class="msg">{{msg}}</div>
        <div class="failure">{{failure}}</div>
        <input type="text" name="username" required placeholder="username">
        <input type="password" name="password" required placeholder="password">
        <input type="email" name="email" required placeholder="email">
        <input type="submit" value="Register">
        <p class="bottom">Already Registered?<a href="{{ url_for('login') }}">Login</a></p>
    </form>
</body>
</html>